
<div class="container">
    <div>

        <h1>Admission patient to hospital treatment</h1>

        <mat-form-field appearance="fill">
            <mat-label>Patient</mat-label>
            <mat-select [(ngModel)]="treatment.patient" >
                <mat-option *ngFor="let patient of patients" [value]="patient">{{patient.name}} {{patient.surname}}</mat-option>
            </mat-select>
        </mat-form-field>
        
        <mat-form-field appearance="fill">
            <mat-label>Room</mat-label>
            <mat-select [(ngModel)]="treatment.room" >
                <mat-option *ngFor="let room of rooms" [value]="room">{{room.roomType}}, Floor: {{room.floor}}</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Therapy</mat-label>
            <input type="text" matInput [(ngModel)]="treatment.reasonForDischarge" name="reasonForAdmission1">
        </mat-form-field>
    
        <mat-form-field appearance="fill">
            <mat-label>Date of patient admission</mat-label>
            <input type="datetime-local" matInput [(ngModel)]="treatment.dateAdmission" name="dateAdmission">
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Reason for patient admission</mat-label>
            <input type="text" matInput [(ngModel)]="treatment.reasonForAdmission" name="reasonForAdmission">
        </mat-form-field><br>
        <button mat-stroked-button (click)="createTreatment()">
            Submit
        </button>
    </div>
</div>
