<div class="container">
    <div class="table-header">
        <p class="table-title">Feedbacks review</p>
    </div>
    <table mat-table [dataSource]="dataSource" id="feedbacksTable">
        <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef class="cell-center header-row"> Description </th>
            <td mat-cell *matCellDef="let feedbackDto" class="cell-center">{{feedbackDto.description}}</td>
        </ng-container>
        <ng-container matColumnDef="username">
            <th mat-header-cell *matHeaderCellDef class="cell-center header-row"> User's name </th>
            <td mat-cell *matCellDef="let feedbackDto" class="cell-center">{{feedbackDto.username}}</td>
        </ng-container>
        <ng-container matColumnDef="public">
            <th mat-header-cell *matHeaderCellDef class="cell-center header-row"> Public </th>
            <td mat-cell *matCellDef="let feedbackDto" class="cell-center">{{feedbackDto.public}}</td>
        </ng-container>
        <ng-container matColumnDef="dateCreated">
            <th mat-header-cell *matHeaderCellDef class="cell-center header-row"> Creation date </th>
            <td mat-cell *matCellDef="let feedbackDto" class="cell-center">{{feedbackDto.dateCreated}}</td>
        </ng-container>
        <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef class="cell-center header-row"> Status </th>
            <td mat-cell *matCellDef="let feedbackDto" class="cell-center">{{feedbackDto.status}}</td>
        </ng-container>
        <ng-container matColumnDef="updateStatus">
            <th mat-header-cell *matHeaderCellDef class="cell-center header-row"> Update status </th>
            <td mat-cell *matCellDef="let feedbackDto" class="cell-center"> 
                <div *ngIf="feedbackDto.public=='Public'">             
                    <div *ngIf="feedbackDto.status=='Pending'">
                        <button mat-button (click)="onApprove(feedbackDto)" class="button-updateStatus" id="approveButton">Approve</button>
                        <button mat-button (click)="onReject(feedbackDto)" class="button-updateStatus" id="rejectButton">Reject</button>
                    </div>
                    <div *ngIf="feedbackDto.status=='Approved'">
                        <button mat-button (click)="onReject(feedbackDto)" class="button-updateStatus" id="rejectButton">Reject</button>
                    </div>
                    <div *ngIf="feedbackDto.status=='Rejected'">
                        <button mat-button (click)="onApprove(feedbackDto)" class="button-updateStatus" id="approveButton">Approve</button>
                    </div>  
                </div>   
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>
