<div class="container">
    <h5>{{errorMessage}}</h5>
    <div class="table-header" *ngIf="!errorMessage">
        <p class="table-title">Blood Banks</p>
    </div>
    <table mat-table [dataSource]="dataSource" *ngIf="!errorMessage">
        <ng-container matColumnDef="Required Until">
            <th mat-header-cell *matHeaderCellDef class="cell-center">Required Until</th>
            <td mat-cell *matCellDef="let request" class="clickable cell-center" (click)="chooseBloodRequest(request.id)">{{request.requiredForDate}}</td>
        </ng-container>
        <ng-container matColumnDef="Quantity">
            <th mat-header-cell *matHeaderCellDef class="cell-center">Quantity</th>
            <td mat-cell *matCellDef="let request" class="clickable cell-center" (click)="chooseBloodRequest(request.id)">{{request.bloodQuantity}}</td>
        </ng-container>
        <ng-container matColumnDef="Blood Type">
            <th mat-header-cell *matHeaderCellDef class="cell-center">Blood Type</th>
            <td mat-cell *matCellDef="let request" class="clickable cell-center" (click)="chooseBloodRequest(request.id)">{{request.bloodType}}</td>
        </ng-container>
        <ng-container matColumnDef="Reason">
            <th mat-header-cell *matHeaderCellDef class="cell-center">Reason</th>
            <td mat-cell *matCellDef="let request" class="clickable cell-center" (click)="chooseBloodRequest(request.id)">{{request.reason}}</td>
        </ng-container>
        <ng-container matColumnDef="Doctor">
            <th mat-header-cell *matHeaderCellDef class="cell-center">Doctor</th>
            <td mat-cell *matCellDef="let request" class="clickable cell-center" (click)="chooseBloodRequest(request.id)">{{request.doctor.name}}  {{request.doctor.surname}}</td>
        </ng-container>
        <ng-container matColumnDef="Status">
            <th mat-header-cell *matHeaderCellDef class="cell-center">Status</th>
            <td mat-cell *matCellDef="let request" class="clickable cell-center" (click)="chooseBloodRequest(request.id)">{{request.requestState}}</td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>
