<div class="w-100">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark w-80 mx-auto p-3 shadow-lg" style="border-bottom-left-radius: 20px; border-bottom-right-radius: 20px;">
      <a class="navbar-brand m-0" href="/homeDoctor"><div class="h1 mx-4">Home</div></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/homeDoctor"><div class="h3 m-1">Profile</div></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="appointmentButton" href="/appointments"><div class="h3 m-1">My appointments</div></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/returned-requests"><div class="h3 m-1">Returned requests</div></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/treatments/add"><div class="h3 m-1">Treatment</div></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/councilOfDoctors"><div class="h3 m-1">Councils</div></a>
          </li>
        </ul>
        <div class="mx-auto"></div>

        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link text-white" href="" (click)="logoutUser()"><div class="h3 mx-4 mt-2">Log out</div></a>
          </li>
        </ul>
      </div>

    </nav>

    <div class="divPregled">

      <button class="dugmePregled">
        <a href="/treatments/add">
          <img class="slikaPregled" src="https://cdn-icons-png.flaticon.com/512/1934/1934407.png" alt="buttonpng" border="0"/>
        </a>
      </button>

      <p class="imePregled"> <b>Admission of the patient</b></p>
      <p class="imeDrugiPregled"> <b>for treatment</b></p>

      <div class="divTermin">
      <button class="dugmeTermin">
        <a href="/appointments">
          <img class="slikaPregled" src="https://www.nicepng.com/png/detail/207-2073800_calendar-event-schedule-month-appointment-comments-appointment-icon.png" alt="buttonpng" border="0"/>
        </a>
      </button>

      <p class="imeTermin"> <b>Appointments</b></p>
      </div>

    </div>

  </div>