<h5>{{errorMessage}}</h5>
<div class="table-header" *ngIf="!errorMessage">
    <div class="container">
        <p class="table-title">Request</p>
            <mat-form-field appearance="fill">
                <mat-label>Doctor:</mat-label>
                <input readonly matInput value="{{request.doctor.name}} {{request.doctor.surname}}">
            </mat-form-field><br>
            <mat-form-field appearance="fill">
                <mat-label>Blood Type:</mat-label>
                <input readonly matInput value="{{getBloodByValue(request.bloodType)}}">
            </mat-form-field><br>
            <mat-form-field appearance="fill">
                <mat-label>Blood Quantity:</mat-label>
                <input readonly matInput value="{{request.bloodQuantity}}">
            </mat-form-field><br>
            <mat-form-field appearance="fill">
                <mat-label>Reason:</mat-label>
                <textarea readonly matInput value="{{request.reason}}"></textarea>
            </mat-form-field><br>
            <mat-form-field appearance="fill">
                <mat-label>Request state:</mat-label>
                <input readonly matInput value="{{getStateByValue(request.requestState)}}">
            </mat-form-field><br>
            <div *ngIf="request.requestState != 3">
                <button class="m-1" mat-stroked-button (click)="accept()">
                    Accept
                </button>
                <button class="m-1" mat-stroked-button (click)="decline()">
                    Decline
                </button>
                <button class="m-1" mat-stroked-button (click)="returnBack = !returnBack">
                    Return Back
                </button>
            </div>
            <br>
            <div *ngIf="returnBack || request.requestState == 2">
                <mat-form-field appearance="fill">
                    <mat-label>Reason why it is going back:</mat-label>
                    <textarea matInput [(ngModel)]="request.comment"></textarea>
                </mat-form-field>
                <br>
                <button class="m-1" mat-stroked-button (click)="sendBack()">
                    Submit reason and update request
                </button>
            </div>
    </div>
</div>