<div class="container">
    <div>
        <mat-form-field appearance="fill">
            <mat-label>New password:</mat-label>
            <input matInput [(ngModel)]="newPassword">
        </mat-form-field><br>
        <mat-form-field appearance="fill">
            <mat-label>Repeated password:</mat-label>
            <input matInput [(ngModel)]="repeatedPassword">
        </mat-form-field><br>
        <button mat-stroked-button (click)="changePassword()">
            Submit
        </button>
    </div>
</div>