<div class="w-100">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark w-80 mx-auto p-3 shadow-lg" style="border-bottom-left-radius: 20px; border-bottom-right-radius: 20px;">
      <a class="navbar-brand m-0" href="/homePatient"><div class="h1 mx-4">Home</div></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/patientInfo"><div class="h3 m-1">Profile</div></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/homePatient"><div class="h3 m-1">My appointments</div></a>
          </li>
        </ul>
        <div class="mx-auto"></div>
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link text-white" href="" (click)="logout()"><div class="h3 mx-4 mt-2">Log out</div></a>
          </li>
        </ul>
      </div>
    </nav>
</div>