
<div class="container">
    <div>

        <h1>Report</h1>
 
        <mat-form-field appearance="fill">
            <mat-label>Report</mat-label>
            <textarea name="Text1" wrap="soft" cols="60" rows="15" matInput [(ngModel)]="report" > </textarea>
        </mat-form-field><br>

        <a>
            <button (click)="back()" class="backDugme" mat-stroked-button>
                 Back 
            </button>
        </a>

        <a >
            <button (click)="next()" class="nextDugme1" mat-stroked-button>
                 Next 
            </button>
        </a>
       
    </div>
</div>
