
<div class="container">
    <div>

        <h1>Report</h1>
 
        <mat-form-field appearance="fill">
            <mat-label>Report</mat-label>
            <textarea name="Text1" cols="60" rows="15" matInput [(ngModel)]="report"> </textarea>
        </mat-form-field><br>

        <a href="/examinations/add">
            <button class="backDugme" mat-stroked-button>
                 Back 
            </button>
        </a>

        <a href="/examinations/prescription">
            <button class="nextDugme1" mat-stroked-button>
                 Next 
            </button>
        </a>
       
    </div>
</div>
