/**********W**********/
.w-80{
    position: inherit;
	width: 80%;
}

.w-40{
    position: inherit;
	width: 40%;
}

.w-45{
    position: inherit;
	width: 45%;
}

.w-30{
    position: inherit;
	width: 30%;
}

.w-25{
    position: inherit;
	width: 25%;
}

.w-20{
    position: inherit;
	width: 20%;
}

.w-10{
    position: inherit;
	width: 10%;
}

/**********SCROLLBAR**********/ /*Ako nesto zajebava otkomentarizacija*/
::-webkit-scrollbar { 
    display: none; 
} 