<form class="border border-dark">
    <div class="row">
        <div class="col text-center p-2 mb-3 bg-light">
            <span class="fs-3"> Register blood bank</span>

        </div>
    </div>
    <div class="row">
        <div class="col">
            <label>Blood bank name:</label>
            <input type="text" class="form-control" id="bloodBankName">
        </div>
    </div>
    <div class="col">
        <label>Contact email:</label>
        <input type="text" class="form-control" id="bloodBankEmail">
    </div>
    <div class="col">
        <label>Server adress:</label>
        <input type="text" class="form-control" id="bloodBankServerAdress">
    </div>
    <div class="col-3 offset-4">
        <div class="d-grid">
            <button type="submit" class="btn btn-primary">submit</button>
        </div>
    </div>
</form>