<div class="container">
    <h5>{{errorMessage}}</h5>
    <div>
        <mat-form-field appearance="fill">
            <mat-label>Blood bank name:</mat-label>
            <input matInput [(ngModel)]="bloodBank.name">
        </mat-form-field><br>
        <mat-form-field appearance="fill">
            <mat-label>Contact email:</mat-label>
            <input matInput [(ngModel)]="bloodBank.email">
        </mat-form-field><br>
        <mat-form-field appearance="fill">
            <mat-label>Server adress:</mat-label>
            <input matInput [(ngModel)]="bloodBank.serverAddress">
        </mat-form-field><br>
        <button mat-stroked-button (click)="registerBloodBank()">
            Submit
        </button>
    </div>
</div>