<h5>{{errorMessage}}</h5>
<div class="table-header" *ngIf="!errorMessage">
    <div class="container">
        <p class="table-title">Request</p>
        <mat-form-field appearance="fill">
            <mat-label>Blood Amount:</mat-label>
            <input matInput type="number" [(ngModel)]="this.request.bloodQuantity">
        </mat-form-field><br>
        <mat-form-field appearance="fill">
            <mat-label>Blood Type:</mat-label>
            <mat-select name="bloodTypes" id="bloodTypes" [(ngModel)]="this.request.bloodType" matInput>
                <mat-option *ngFor="let bloodType of bloodTypes" [value]="bloodType">{{ConvertToString(bloodType)}}
                </mat-option>
            </mat-select>
        </mat-form-field><br>
        <mat-form-field appearance="fill">
            <mat-label>Blood Bank</mat-label>
            <mat-select name="bloodRequest.bloodBankID" [(ngModel)]="this.request.bloodBankID" matInput>
                <mat-option *ngFor="let item of bloodBanks" [value]="item.id">{{item.name}}</mat-option>
              </mat-select>
        </mat-form-field ><br>
        <button class="m-1" mat-stroked-button (click)="accept()">
            Send
        </button>
        <br>
    </div>
</div>