<nav class="navbar navbar-expand-lg navbar-dark bg-dark w-80 mx-auto p-3 shadow-lg" style="border-bottom-left-radius: 20px; border-bottom-right-radius: 20px;">
  <a class="navbar-brand m-0" href="/homePatient"><div class="h1 mx-4">Home</div></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/patientInfo"><div class="h3 m-1">Profile</div></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/appointments"><div class="h3 m-1">My appointments</div></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/createAppointment"><div class="h3 m-1">Request Appointment</div></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/scheduleAppointment"><div class="h3 m-1">Schedule Appointment</div></a>
      </li>
    </ul>
    <div class="mx-auto"></div>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link text-white" href="" (click)="logout()"><div class="h3 mx-4 mt-2">Log out</div></a>
      </li>
    </ul>
  </div>
</nav>
<div class="d-flex justify-content-center m-5">
  <mat-stepper [orientation]="(stepperOrientation | async)!" linear="true">
    <mat-step [stepControl]="dateForm" label="Choose a date">
      <form [formGroup]="dateForm">
        <mat-form-field appearance="fill">
            <mat-label>Date</mat-label>
            <input matInput [matDatepicker]="picker" [min]="today" formControlName="date" required>
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <div>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="specializationForm" label="Choose a specialization">
      <form [formGroup]="specializationForm">
        <mat-form-field appearance="fill">
          <mat-label>Specialization</mat-label>
          <mat-select formControlName="specialization" required>
            <mat-option>--</mat-option>
            <mat-option value="0">General</mat-option>
            <mat-option value="1">Dermatology</mat-option>
            <mat-option value="2">Neurology</mat-option>
            <mat-option value="3">Urology</mat-option>
            <mat-option value="4">Gynecology</mat-option>
            <mat-option value="5">Cardiology</mat-option>
            <mat-option value="6">Dentistry</mat-option>
            <mat-option value="7">Otorhinolaryngology</mat-option>
          </mat-select>
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext (click)="getDoctors()">Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="doctorForm" label="Choose your doctor">
      <form [formGroup]="doctorForm">
        <mat-form-field appearance="fill">
          <mat-label>Doctor</mat-label>
          <mat-select formControlName="doctor" required>
            <mat-option>--</mat-option>
            <mat-option *ngFor="let doctor of doctors" [value]="doctor">{{doctor.fullName}}</mat-option>
          </mat-select>
          <mat-label>Doctor</mat-label>
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext (click)="getFreeAppointmentTimes()">Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="timeForm" label="Choose time for appointment">
        <form [formGroup]="timeForm">
          <mat-form-field appearance="fill">
            <mat-label>Time</mat-label>
            <mat-select formControlName="time" required>
              <mat-option>--</mat-option>
              <mat-option *ngFor="let appointment of freeAppointments" [value]="appointment">{{appointment}}</mat-option>
            </mat-select>
          </mat-form-field>
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
          </div>
        </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Review</ng-template>
      <h2>Appointment information</h2>
      <p>Date: {{dateForm.value.date.toString().substr(0,15)}}</p>
      <div [ngSwitch]="specializationForm.value.specialization">
        <p *ngSwitchCase="0">Specialization: General</p>
        <p *ngSwitchCase="1">Specialization: Dermatology</p>
        <p *ngSwitchCase="2">Specialization: Neurology</p>
        <p *ngSwitchCase="3">Specialization: Urology</p>
        <p *ngSwitchCase="4">Specialization: Gynecology</p>
        <p *ngSwitchCase="5">Specialization: Cardiology</p>
        <p *ngSwitchCase="6">Specialization: Dentistry</p>
        <p *ngSwitchCase="7">Specialization: Otorhinolaryngology</p>
        <p *ngSwitchDefault>Specialization not selected.</p>
      </div>
      <p>Doctor: {{doctorForm.value.doctor.fullName}}</p>
      <p>Time: {{timeForm.value.time}}</p>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="schedule()">Schedule</button>
      </div>
    </mat-step>
  </mat-stepper>
</div>