<div class="d-flex justify-content-center m-5">
  <mat-stepper [orientation]="(stepperOrientation | async)!" linear="true">
    <mat-step [stepControl]="dateForm" label="Choose a date">
      <form [formGroup]="dateForm">
        <mat-form-field appearance="fill">
            <mat-label>Date</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="date" required>
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <div>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="specializationForm" label="Choose a specialization">
      <form [formGroup]="specializationForm">
        <mat-form-field appearance="fill">
          <mat-label>Specialization</mat-label>
          <mat-select formControlName="specialization" required>
            <mat-option>--</mat-option>
            <mat-option value="0">General</mat-option>
            <mat-option value="1">Dermatology</mat-option>
            <mat-option value="2">Neurology</mat-option>
            <mat-option value="3">Urology</mat-option>
            <mat-option value="4">Gynecology</mat-option>
            <mat-option value="5">Cardiology</mat-option>
            <mat-option value="6">Dentistry</mat-option>
            <mat-option value="7">Otorhinolaryngology</mat-option>
          </mat-select>
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext (click)="getDoctors()">Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="doctorForm" label="Choose your doctor">
      <form [formGroup]="doctorForm">
        <mat-form-field appearance="fill">
          <mat-label>Doctor</mat-label>
          <mat-select formControlName="doctor" required>
            <mat-option *ngFor="let doctor of doctors" [value]="doctor">{{doctor.fullName}}</mat-option>
          </mat-select>
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext (click)="getFreeAppointmentTimes()">Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="timeForm" label="Choose time for appointment">
        <form [formGroup]="timeForm">
          <mat-form-field appearance="fill">
            <mat-label>Time</mat-label>
            <mat-select formControlName="time" required>
              <mat-option *ngFor="let appointment of freeAppointments" [value]="appointment">{{appointment}}</mat-option>
            </mat-select>
          </mat-form-field>
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
          </div>
        </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Review</ng-template>
      <h2>Appointment information</h2>
      <p>Date: {{dateForm.value.date}}</p>
      <p>Specialization: {{specializationForm.value.specialization}}</p>
      <p>Doctor: {{doctorForm.value.doctor.fullName}}</p>
      <p>Time: {{timeForm.value.time}}</p>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="schedule()">Schedule</button>
      </div>
    </mat-step>
  </mat-stepper>
</div>