<div class="container">
    <div>
        <mat-form-field appearance="fill">
            <mat-label>Number</mat-label>
            <input matInput [(ngModel)]="bloodRequest.bloodType">
        </mat-form-field><br>
        <mat-form-field appearance="fill">
            <mat-label>Floor</mat-label>
            <input type="date" matInput [(ngModel)]="bloodRequest.quantity">
        </mat-form-field><br>
        <button mat-stroked-button (click)="createRequest()">
            Submit
        </button>
    </div>
  </div>
  