<div class="w-100">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark mx-auto p-3 shadow-lg" style="border-bottom-left-radius: 20px; border-bottom-right-radius: 20px; width:80vw">
        <a class="navbar-brand m-0" href="/homeManager"><div class="h1 mx-4">Home</div></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
    
        <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
            <a class="nav-link" href="/homeManager"><div class="h3 m-1">Profile</div></a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="/feedbacks"><div class="h3 m-1">Feedbacks</div></a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="/homeManager"><div class="h3 m-1">Equipment</div></a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="/statistics"><div class="h3 m-1">Statistics</div></a>
            </li>
        </ul>
        <div class="mx-auto"></div>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
            <a class="nav-link text-white" href="" (click)="logoutUser()"><div class="h3 mx-4 mt-2">Log out</div></a>
            </li>
        </ul>
        </div>
    </nav>
</div>
<div class="row p-5 mx-3 justify-content-evenly">
    <div class="col-lg-5 ms-2 table-responsive">
        <h2 class="mb-2 ms-1">Age distribution by doctor</h2>
        <table class="table table-secondary table-hover mt-auto">
            <thead class="border-bottom border-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">0-18</th>
                    <th scope="col">18-30</th>
                    <th scope="col">30-45</th>
                    <th scope="col">45-60</th>
                    <th scope="col">60-80</th>
                    <th scope="col">80+</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let stat of dataSource.data; index as i">
                    <th scope="row">{{i+1}}</th>
                    <td>{{ stat.Name }}</td>
                    <td>{{ stat.one }}</td>
                    <td>{{ stat.two }}</td>
                    <td>{{ stat.three }}</td>
                    <td>{{ stat.four }}</td>
                    <td>{{ stat.five }}</td>
                    <td>{{ stat.six }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-lg-5 me-2 bg-light">
        <h2 class="mb-2 ms-1">Age distribution by gender</h2>
        <canvas id="genderAgeChart">{{ genderAgeChart }}</canvas>
    </div>        
</div>
<div class="row p-5 mx-3 justify-content-evenly">
    <div class="col-lg-5 ms-2">
        <h2 class="mb-2 ms-1">Allergy popularity</h2>
        <canvas  baseChart 
        [title]="barChartLegend"
        [type]="'pie'"
        [datasets]="allergyValues"
        [labels]="allergyNames"
        [options]="barChartOptions"> 
    </canvas>
    </div>
    <div class="col-lg-5 me-2">
        <h2 class="mb-2 ms-1">Bloodtype popularity</h2>
        <canvas id="bloodTypeChart" class="bg-light">{{ bloodTypeChart }}</canvas>
    </div>
</div>