<html>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
    <body>
        <div class="row p-5 mx-3 justify-content-evenly">
            <div class="col-lg-5 ms-2 table-responsive">
                <h2 class="mb-2 ms-1">Age distribution by doctor</h2>
                <table class="table table-secondary table-hover mt-auto">
                    <thead class="border-bottom border-dark">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Name</th>
                            <th scope="col">0-18</th>
                            <th scope="col">18-30</th>
                            <th scope="col">30-45</th>
                            <th scope="col">45-60</th>
                            <th scope="col">60-80</th>
                            <th scope="col">80+</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let stat of dataSource.data; index as i">
                            <th scope="row">{{i+1}}</th>
                            <td>{{ stat.Name }}</td>
                            <td>{{ stat.one }}</td>
                            <td>{{ stat.two }}</td>
                            <td>{{ stat.three }}</td>
                            <td>{{ stat.four }}</td>
                            <td>{{ stat.five }}</td>
                            <td>{{ stat.six }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-lg-5 me-2 bg-light">
                <h2 class="mb-2 ms-1">Age distribution by gender</h2>
                <canvas id="genderAgeChart">{{ genderAgeChart }}</canvas>
            </div>        
        </div>
        <div class="row p-5 mx-3 justify-content-evenly">
            <div class="col-lg-5 ms-2">
                <h2 class="mb-2 ms-1">Allergy popularity</h2>
                <canvas  baseChart 
                [title]="barChartLegend"
                [type]="'pie'"
                [datasets]="allergyValues"
                [labels]="allergyNames"
                [options]="barChartOptions"> 
            </canvas>
            </div>
            <div class="col-lg-5 me-2">
                <h2 class="mb-2 ms-1">Bloodtype popularity</h2>
                <canvas id="bloodTypeChart" class="bg-light">{{ bloodTypeChart }}</canvas>
            </div>
        </div>
    </body>
</html>